body{
    background-size: cover;
}
.heading button{
    float: right;
    border: 1px solid gray;
}
h4{
    background-color: darkgray;
    line-height: 1;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;

}
.heading{
        text-align: left;
        width:100%;
}
.heading h3{
    display: inline;
}
#start, #status{
  
    font-size: 25px;
}
.modal-dialog{
    width:100%;
    text-align: left;
}
video{
    background: url('game_console.png');
    background-size:cover;
    background-position: center;
    padding: 25px;
}